/* Universal selector */
* {
    padding: 0;
    margin: 0;

}

/* my common class */
.container {
    max-width: 1600px;
    margin: auto;
}

.my-btn {
    border-radius: 4px;
    padding: 24px auto;
    font-weight: 600;
    
    color: white;
    border: none;
    
    width: 164px;
    height: 44px;
    background: var(--#30B868, rgba(70, 145, 101, 1));
    background-color: #269454;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }
  .link-parent {
    display: flex;
    gap: 22px;
    list-style: none;
  }
  .link-parent a {
    text-decoration: none;
  }  